NEXT_PUBLIC_SUPABASE_URL=https://ddtrzryqobmurqlgclxd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkdHJ6cnlxb2JtdXJxbGdjbHhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5NDQyMjEsImV4cCI6MjA5MDUyMDIyMX0.WKHEb1HvNNDGrvW5RJgWuwPAeKag3899Rz-lEOGg2Ng
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRkdHJ6cnlxb2JtdXJxbGdjbHhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDk0NDIyMSwiZXhwIjoyMDkwNTIwMjIxfQ.hwvhbsIlKHOlUUsAx_eGjrKTK3ullK-VBn8bJG9DuH8
NEXT_PUBLIC_APP_NAME=Cam Clinic
NEXT_PUBLIC_APP_VERSION=1.0.0
NEXT_PUBLIC_SUPPORT_WHATSAPP=+918590377418
NEXT_PUBLIC_COMPANY_NAME=Supportta Solutions Private Limited
